@import "../../global";

.section {
  @include applyCon;
  margin-bottom: 4em;
}

.secHeader {
  @include border(right);
  border-right: 10px solid;
}

.weather-info {
  @include flex(row);
  @include setBtnStyle;
  // border: 1px solid rgba(0, 181, 253, 0.651);
  background-color: $sec-bg;
  font-family: $font-header;

  margin: 1em;
  padding: 1.5em;
  height: 300px;
  // background-color: $section-bg;

  @import "./loc-temp";
  @import "./todays-weather";
  @import "./weather-details";
}

.iploopup-btn {
  @include rmDefault;
  padding: 0.5em;
  margin: 2em auto 1em auto;
  border-radius: 10px;
  font-size: 1.2em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.534);
  cursor: pointer;
  border: 2px solid rgb(106, 28, 196);
}

.iploopup-btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.534);
  background-color: aliceblue;
}

@import "./media-query";
