// virable declaration
$pri-bg: #e8e8cc;
$sec-bg: linear-gradient(180deg, #b0d8b6, #00b1ff);
$section-bg: #accbb0;
$loc-bg: #3b5360;

$border-pri: rgba(0, 152, 179, 0.767);

$header-font-size: 2rem;
$title-font-size: 1.5rem;
$content-font-size: 1.2rem;

$primary-bg: #e8e8cc;
$secondary-bg: #accbb0;
$primary-font-color: #116530;
$secondary-font-color: #3b5360;
$primary-gradient-color: linear-gradient(#b0d8b6, #00b1ff);

// font styles
$font-pri: "Cormorant Garamond", serif;
$font-sec: "Do Hyeon", sans-serif;
$font-header: "Josefin Sans", sans-serif;
$font-main: "Righteous", cursive;
$font-default: "Varela Round", sans-serif;

// mixins
@mixin flex($dirction) {
  display: flex;
  flex-direction: $dirction;
  justify-content: space-between;
}
@mixin applyCon {
  max-width: 900px;
  margin: 0 auto;
}
@mixin rmDefault {
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
}

@mixin setBtnStyle {
  padding: 0.5em;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(119, 119, 119, 0.308);
}

@mixin topBorder {
  border-top: 2px solid rgba(124, 124, 124, 0.507);
}

@mixin border($position) {
  text-align: $position;
  // font-family: $font-main;
  color: $primary-font-color;
  margin: 1em;
  border-radius: 10px;
  padding: 0.3em 0.5em;

  border-left: 10px solid;
  font-size: 2rem;
  font-weight: 500;
  border-radius: 10px;
  letter-spacing: 4px;
  line-height: 1em;
}
