@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Do+Hyeon&family=Josefin+Sans:wght@300&family=Righteous&family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  --primary-bg: #e8e8cc;
  --secondary-bg: #accbb0;
  --primary-font-color: #116530;
  --secondary-font-color: #3b5360;
  --primary-gradient-color: linear-gradient(#b0d8b6, #00b1ff);
}
.spinner-con {
  width: 100%;
}
body {
  background-color: #e8e8cc;
  color: #116530;
}

.toomany {
  text-align: center;
  min-height: 350px;
  font-size: 1.5em;
  margin-top: 2em;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

  margin: auto;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid rgb(92, 92, 92);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
